<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="['/']"class="navbar-brand nav-link">PRANAV ANEJA</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active"><a href="#" class="nav-link" [routerLink]="['/about']">ABOUT</a></li>
                <li routerLinkActive="active"><a href="#" class="nav-link" [routerLink]="['/passion']">PASSION</a></li>
                <li routerLinkActive="active"><a href="#" class="nav-link" [routerLink]="['/experience']">EXPERIENCE</a></li>
                <li routerLinkActive="active"><a href="#" class="nav-link" [routerLink]="['/work']">WORK</a></li>
                <li routerLinkActive="active"><a href="#" class="nav-link" [routerLink]="['/contact']">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>